body {
  font-family: Georgia, serif;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5f5f5;
  text-align: center;
  color: black;
}
nav {
  background-color: rgb(71, 63, 54);
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  height: 50px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 500px;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 30px;
}
li a {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}
.maintitle {
  display: flex;
  color: white;
  font-style: italic;
  font-size: 2.4em;
  justify-content: flex-start;
}
footer {
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(164, 153, 141);
  text-align: center;
}
.about {
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}
