body {
  font-family: Georgia, serif;
  background-color: white;
  margin: 0;
  padding: 0;
}
#logo-image {
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}
#search-img {
  width: 40px;
  height: 40px;
}
#detailsLogo {
  width: 40px;
  height: 40px;
}